@import 'scss/_variables.scss';
@import 'scss/_mixins.scss';
@import 'scss/_general.scss';
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai+Looped&family=Poppins&display=swap');
